
#masthead {
  position: static;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: black;
  border-bottom: 2px solid #ccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: black;
}

nav {
  float: right;
  margin-top: 25px;

}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

.jumbotron {
	background-image:url('../images/ingredients.jpeg');
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color:white;
  height: 400px;

}

.top-panel {
  background-repeat:no-repeat;
	height:300px;
  background-size: 1000px 400px;

}

.panel-breakfast {
  background-image:url('../images/breakfast.jpg');
  height:200px;
  max-width: 400px;
  background-repeat:no-repeat;
  background-size: 400px 300px;

}
#breakfast-form {
  height:200px;
  width:400px;;
}

.panel-lunch {
  background-image:url('../images/burger.jpg');
  height:200px;
  max-width: 400px;
  background-repeat:no-repeat;
  background-size: 400px 300px;

}

.panel-dinner {
  background-image:url('../images/steak.jpg');
  height:200px;
  max-width: 400px;
  background-repeat:no-repeat;
  background-size: 400px 300px;

}

.panel-fish-meals {
  background-image:url('../images/fish_cutting_board.jpg');
  height:200px;
  max-width: 400px;
  background-repeat:no-repeat;
  background-size: 400px 300px;

}
.panel-vegan {
  background-image:url('../images/vegtables.jpg');
  height:200px;
  background-repeat:no-repeat;
  background-size: 400px 300px;

}

.search {
  width: 40%;
  text-align: center;
}

#topic-figures { 
  overflow: auto;
  width: 100%;
  max-width: 300px;
}

.topic-figure {
  margin: 5px;
  display: inline-block;
}

.topic-image {
  margin: 5px;
  /* float: none; */
}

.topic-title {
 color: darkslategrey;
 margin: 2px;
 max-width: 200px;
}

#endof-#topic-figures { 
  float: clear;
}

.panel-dessert {
  background-image:url('../images/drink.jpg');
  height:200px;
  background-repeat:no-repeat;
  background-size: 400px 300px;
}

#search-recipes {
  background-color:black;
}

#search-restaurants {
  background-color:black;
}

.panel {
  background-image:url('../images/fresh_snow.png');
}


